*{
    margin:0;
    padding: 0;
}
form{

    display: flex;
  flex-direction: column;



    align-items: center;
    justify-content: center;
}
input,select{
width:24%;
    height: 2em;
    margin-bottom: 2em;
}
h1{
    display: flex;
    justify-content: center;
    margin:1em;
}
