*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat';

}


.table_main{
    border-spacing: 0;
margin:2em;
}
.row_header,.row{

    padding:1.3em;
}
th,td{
    padding:0.8em;
    font-size: 0.9em;
}

