
 
    
    * {
        font-family: Raleway;
        margin:0;
        padding:0;
        font-weight: 400;
      }
      body{

        display:flex;
        justify-content: center;
align-items: center;
      }
    
      
.admin_content{
    margin-top:1em;
    border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0, .4); 
width:300px;
        border:1px solid #ddd;
      }
      .admin_title{
          margin:1em 0;
      }
.admin_title h2 {
text-align:center;
}
      form {
        display: flex;
        flex-direction: column;
   
        align-items: center;
      }
      input {
        margin: 1em;
        flex-basis: 2em;
        width: 80%;
        border: 1px solid #484848;
      }
      
      
      label,
      input {
        font-size: 1.2em;
      }
       
      
      input:focus{
      
          border: 1px solid blue;
      }
       input.invalid{
      border-color:red;
      
        outline: 0;
       }
      
      
       .error{
      
           color:red;
       }
      
       .add-form{
        position: fixed;
          top: 0;
          left:0;
    height: 100%;
          width: 100%;
          
        background:rgba(0,0,0,.5);
          /*transform: translate(-150%); */
        }

        .add_product{

            box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
            border-bottom: 5px solid #018fb4;
            border-radius: 10px 10px 0 0;
           background-color: #fffffff5;
position: absolute;
top:90px;
left:300px;
width:50%;
height: 100%;

        }


        .message_box {
            height: 5vh;
            width: 25vw;
            padding: 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
         
            box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 30%);
            position:fixed;
            top:2%;
            left:35%;
          }
          .btn_message_exit {
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
         .button_success {
            color: #597151;
          }
          i.fa-2x {
            font-size: 3em;
          }
          .message_text {
            font-size: 1em;
          }
          .message_error {
            background-color: #ecc8c5;
            border: #d37f78 2px solid;
            color: #b83c37;
          }
          .button_error {
            color: #b83c37;
          }
       .hidden{
           display:none;
       }