form{
margin:1em;

display: flex;
    height: 500px;
    width: 600px;

    border:1px solid;
    flex-direction: column;

}
select,input,label{
    margin:1em;
}
input[type='number'], input[type='submit']{
    width:30%;
}