*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat';

}


.table_main{
    border-spacing: 0;
    margin:2em;
    table-layout: fixed;
    border-collapse: collapse;
}

th,td{
    padding:0.9em;
    font-size: 0.9em;
}
h1{
    margin-left:3em;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:40%;
    border:1px solid;
    margin:1em;
}
input{
    width:10%;
    height:12%;
    margin-bottom: 1em;
}
