.form_wrapper{

    display: flex;
    justify-content: center;
}
form{
    margin:1em;


    height: 500px;
    width: 600px;



}
select,input{
    margin:1em;
}
input[type='number'], input[type='submit']{
    width:30%;
}
.products_wrapper{
    margin-bottom: 1em;
}