* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}
body {
    width: 100%;
}
li {
    list-style: none;
}
.aside_menu, a {
    color:#756c7a;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}
.main_nav {
    background-color: #605d60;
    padding: 0.9em;
    display: flex;

}

button{
    margin:1em;
    font-size: 1em;
}




.main_nav ul  {

    display: flex;
    justify-content: space-between;
    width:100%;

}
.main_nav li a {
    color: white;
}
main {
    display: grid;

    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2em;
}
.aside_nav {
    background: rgba(248, 249, 250, 0.7);
    height: 100vh;
}
.aside_nav ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.aside_nav a {
    font-weight: 300;
    font-size: 1.1em;
}
.aside_menu.active{
    color:#171617;
}

.order_content {
    margin: 2em;
    width: 80%;
}
.order_title_content {
    margin: 2em;
}
.order_title {
    font-size: 1.3em;
    font-weight: 500;
}

.order_table {
    width: 100%;
    /* The border-spacing property sets the distance between the borders of adjacent cells.*/
    border-spacing: 0;
}
.order_table_content {
    margin: 1em;

    height: 100%;
}
.table_header {
    background-color: #d1d1d161;
    border-spacing: 0;
}
.table_header th {
    padding: 1em;
}
.tr_order td {
    padding:1em;
    font-family:'Nunito Sans';
    text-align: center;

}

.icon_visibility_container{
    cursor:pointer;
}
.unclickable{
    pointer-events: none;
}

.order_details {
    display: grid;


    margin: 2em;

    grid-template: 0.5fr 0.5fr 0.25fr 1fr 0.25fr / repeat(3, 1fr);
    grid-template-areas:
      "detail_header detail_header ..."
      "detail_shipping_address detail_shipping_method details_shipping_method"
      "... detail_item_title ... "
      "order_detail_table order_detail_table order_detail_table"
      "... summary summary"
;
    grid-gap: 1em;
}

.order_items {
    /* margin: 1.3em 1.3em 0 1.3em;*/
    border: 1px solid #dddd;
}

.order_details_header {
    grid-area: detail_header;
    border: none;
}

.order_details_shipping_address {
    grid-area: detail_shipping_address;
    width:20vw;
    height:30vh;
}
.order_details_shipping_mode {
    grid-area: detail_shipping_method;

}
.order_details_customer_details
{
    grid-area: details_shipping_method;
}

.order_details_header_content,
.order_details_shipping_address_content,
.order_details_shipping_mode_content,
.customer_content,
.order_detail_shipping_cost_content {
    margin: 1em;
}

.order_detail_item_title {
    grid-area: detail_item_title;
    justify-self: center;
    align-self: center;
    border: none;
}
.order_detail_table {
    grid-area: order_detail_table;
    margin: 0 1em 1em 1em;
    /* The border-spacing property sets the distance between the borders of adjacent cells.*/
    border-spacing: 0;
}
.table_header th {
    padding: 1em;
}
.detail_table {
    width: 100%;
}


.order_details_header_content * {
    margin-bottom: 1em;
}


.order_details_header_content{

    display:flex;
    flex-direction: column;

}

.details{
    display:flex;
    justify-content: space-between;
    width:25vw;
}
.return_back{

    width:3vw;
    cursor: pointer;

}

.order_detail_address_default{
    margin-top:1em;
    height:100%;

}

.detail_default{
    margin-bottom: 0.4em;
}


.detail_default span {
    margin-right:0.5em;

}
.first::first-line {
    text-transform: capitalize;
}
.order_details_shipping_mode_content,
.order_details_shipping_method_content,
.customer_content{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}


.customer_content{

    justify-content: space-between;
    height: 50%;

}
.order_detail_shipping_cost_content

{

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:10vh;
}
.order_details_shipping_mode_content{
    height:80%;
}

.cost::after{

    content:' €'
}

.tr_order_item_detail td{
    padding:1em;
}

.order_detail_description{
    text-transform: uppercase;
}

footer{
    margin-top:1em;
    height:40vh;
}

.summary{
    grid-area: summary;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.total_header,.cost{

    font-size: 1.5em;
}

.accounting {
    margin-top:1em;
    height: 80vh;
    width: 60vw;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      "sales details"
      "earnings details"
      "taxes details";

    grid-gap: 2em;
}
.accounting .item {
    border: 2px solid #dddd;
}
.accounting_sales {
    grid-area: sales;
}

.accounting_earnings {
    grid-area: earnings;
}

.accounting_taxes {
    grid-area: taxes;
}
.accounting_details {
    grid-area: details;
}
.accounting_content {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    margin: 2em;
    height: 10vh;
    width: 8vw;
    justify-content: space-between;
    align-items: center;
}
.details_form{

    margin:2em;
    display:flex;
    justify-content: center;
}
.range_commission{

    height:5vh;
}


.account_details_content {
    display:flex;
    flex-direction: column;
    /*border:1px solid ; */
    height:60vh;
    justify-content: space-between;
    align-items:center;
    /* display: grid;
   grid-template:repeat(3,1fr) / repeat(2,0.5fr);


     grid-template-areas:'guadagni guadagni_value'
    'vendite vendite_value'
        'tassse tasse_value'
       ;
     grid-gap:1em;
     */
    margin:2em;
}
.aside_menu.active {
    color: #171617;
}

.table_main{
    border-spacing: 0;
    margin:2em;
}
.row_header,.row{

    padding:1.3em;
}
th,td{
font-size: 1em;

}
