form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 3em;

}
input {
    margin-top: 1em;
    width:40%;
    height: 5vh;
}
.form_wrapper{

   display: flex;
    flex-wrap: wrap;
    margin:2em;
}